<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>MathRequestServlet1Mapping</servlet-name>
		<servlet-class>ex01.MathRequestServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MathRequestServlet1Mapping</servlet-name>
		<url-pattern>/MathRequestServlet1</url-pattern>
	</servlet-mapping>
</web-app>